#   Variables de inicialización del servicio de registro de eventos (ds-appi-logging-producer)
#   Importante: todas las variables son obligatorias y deben tener los datos correctos. Su ausencia
#   o mala configuración hará que el no pueda registrar sus eventos. Si no conoce
#   cuáles son sus valores, comuníquese con el equipo desarrollador de esta funcionalidad.
AMQP_USER=
AMQP_PASS=
AMQP_HOST=
AMQP_PORT=5672
AMQP_VHOST=/
AMQP_EXCHANGE=logs.exchange
AMQP_ROUTING_KEY=logs.info
MODULE_NAME=
VALIDATE=true